.window .eu_html{
    background-color: #111;
    color: #fff;
    overflow-y: scroll;
}
.window .eu_html h1{
    font-size: 48px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}
.window .eu_html p{
    font-size: 22px;
    font-weight: normal;
    padding: 0 100px;
    text-align: center;
}

.footer{
    background-color: #111;
    color: #fff;
    padding: 3em;
    text-align: center;

}

.social_list{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list a{
    margin: 0 1em;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid white;
    background-clip: content-box;
    padding: 10px;
    transition: .5s;
    color: #D7D0BE;
    margin-left: 5px;
    margin-right: 5px;
    text-shadow:
        0 -1px 0 rgba(0, 0, 0, 0.2),
        0 1px 0 rgba(255, 255, 255, 0.2);
    font-size: 36px;
}

.social_list .link:hover {
    background-clip:text;
    padding: 10px;
    font-size: 48px;
    color: white;
    border-radius: 30%;
    transform: rotate(360deg) scale(1.1);
    
  }


.social_list span{
    display: block;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


  
  .social_list .link.instagram {
    background-color: #e4405f;
    color: white;

  }
  
  .social_list .link.whats {
    background-color: #25D366;
    color: white;
  }
  
  .social_list .link.facebook {
    background-color: #3B5998;
    color: white;
  }
  
  .social_list .link.linkedin {
    background-color: #0077B5;
    color: white;
  }
  .social_list .link.cv {
    background-color: red;
    color: white;
  }



@media screen and (max-width: 480px){
    .social_list .link {
        width: 60px;
        height: 60px;
        font-size: 18px;
      }
}
